body {
    background-color: #646060;
}

.img-grid {
    max-width: 100%;
    height: auto;
    display: block;
}

.hide {
    display: none;
}

#courseCol {
    background-color: #E8B71A;
}

.left-10 {
    position: relative;
    left: 10%;

}

